{% extends "test_layout.html" %}

{% block test_body %}
    <h1 style="color: #91da32;">¡Funciona!</h1>
    <p>Este texto está dentro del archivo <strong>test_pagina.html</strong>.</p>
    <p>El menú que ves a la izquierda viene del archivo <strong>test_layout.html</strong>.</p>
    
    <div style="background: #1e222b; padding: 20px; border-radius: 10px; border: 1px solid #32353e;">
        Este es un contenedor de prueba para verificar que el CSS se aplica correctamente.
    </div>
{% endblock %}